
.app {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow-y: auto;

  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;

  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  color: #333;
  text-shadow: 0 0.05em 0.1em rgba(0, 0, 0, 0.3);

  background-image: linear-gradient(190deg, #0F2057 0%, #030C2B 100%);
}
