
.thumbnails {
  position: absolute;
  width: 90vw;
  top: 5vmin;
  left: 5vmin;
  right: 5vmin;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.thumbnailElement {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-style: solid;
  border-color: white;
  border-width: thin;
  border-radius: 5px;
}

.mainVideo {
  position: absolute;
  top: 50%;
  bottom: 50%;
  margin-left: auto;
  margin-right: auto;
  transform: translateY(-50%);
  min-width: 100vw;
  max-height: 100vh;
}
